.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.8);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.overlay-content {
  position: relative;
  width: 80%;
  height: 80%;
  background: white;
  padding: 20px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.overlay-buttons {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-top: 20px;
  z-index: 1001;
}

.overlay-button {
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  background-color: var(--accent-color);
  color: var(--primary-color);
  font-size: 16px;
  cursor: pointer;
}

.overlay-button:hover {
  background-color: var(--accent-color);
  opacity: 0.8;
}